

.logbody{
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    height: 97vh;
    /* padding-bottom: 100px; */
    background-color: rgba(245, 246, 247, 1);
    /* border: solid 1px red; */
}

.form{
    display: flex;
    justify-content: space-around;
    gap: 16px;
    width: 68vw;
    /* padding: 20px; */
    background-color: white;
    /* border: solid 1px red; */
    align-items: center;
}

.logo{
    /* border-bottom: solid 1px rgb(255, 0, 0); */
    margin-top: 10px;
}

.formbox{
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 16px;
    /* border: solid 1px red; */
    /* width: 100%; */
}

.formbox h2{
font-family: sans-serif;
font-size: 24px;
font-weight: 600;
}

.formbox input{
    /* border: solid 1px red; */
    height: 28px;
    width: 28vw;
    /* margin-bottom: 10px; */
    border: solid 1px rgba(229, 231, 232, 1);
    border-radius: 4px;
    padding: 2px;
}


.formbox .password{
    display: flex;
    justify-content: space-between;
}

.formbox .password .forgotLink {
    color: rgba(132, 143, 139, 1);
    cursor: pointer;
}



.formbox button{
    background-color: rgba(0, 181, 98, 1);
    height: 40px;
    width: 100%;
    color: white;
    cursor: pointer;
    border: none;
}


.forgot{
    /* border: solid 1px red; */
    display: flex;
    justify-content: flex-end;
    position: relative;
    top: -28px;
    right: -26vw;
    cursor: pointer;
    width: 20px;
}